.detalis {
    position: relative;
}

.posrerMovie {
    position: absolute;
    width: 95%;
    height: auto;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, 0);
    opacity: 0.2;
    border: 10px solid orange;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
}

.detalisWrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.columnInfo {
    padding: 30px;
}

.btnBack {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    background-color: orange;
    color: rgb(46, 44, 44);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 50px;
    transition: color 0.4s;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
}

.btnBack:hover {
    background-color: rgb(243, 165, 21);
}

.iconBack {
    margin-right: 10px;
}

.infoTitle {
    font-size: 70px;
    color: rgb(60, 55, 55);
    margin-bottom: 50px;
}

.scoreDetalis {
    font-size: 20px;
    color: rgb(152, 192, 31);
    margin-bottom: 10px;
}

.overviewTitle {
    font-size: 40px;
    color: rgb(60, 55, 55);
    margin-bottom: 10px;
}

.overview {
    max-width: 600px;
    font-size: 20px;
    color: rgb(60, 55, 55);
    margin-bottom: 10px;
}

.ganreListDetails {
    display: flex;
    gap: 10px;
    color: rgb(152, 192, 31);
}

.columnImg {
    position: relative;
    cursor: pointer;
    max-width: 400px;
    margin-right: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    overflow: hidden;
}


.columnImg:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 1;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    overflow: hidden;
}

.columnImg:hover::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: url('../../images/iconfinder-play.svg') no-repeat center center;
    background-size: contain;
    z-index: 2;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    overflow: hidden;
}

.detalisImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    overflow: hidden;
}

.columnImg:hover .detalisImg {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.reviewList {
    display: flex;
    column-gap: 10px;
    margin-bottom: 40px;
}

.cast,
.review {
    font-size: 30px;
    color: rgb(60, 55, 55);
    transition: color 0.4s;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
}

.cast:hover,
.review:hover {
    color: orange;
}


.videoBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.videoModal {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 1100px;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.57);
    border-radius: 3px;
    box-shadow: 0 0 5px 5px rgba(201, 162, 45, 0.7),
        inset 0 0 30px 10px rgba(201, 162, 45, 0.7);
}

iframe {
    width: 100%;
    height: 100%;
}

.iconBackModal {
    position: absolute;
    display: flex;
    fill: orange;
    width: 100px;
    height: 50px;
    top: 1%;
    left: 1%;
    cursor: pointer;
}