.moviesList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
    max-width: 800px;
    overflow: hidden;
}

.moviesItem {
    border: 1px solid gold;
    max-width: 150px;
    padding: 10px;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
}

.MoviesList_moviesItem {
    width: 200px;
}