.navigation {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.navWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    color: crimson;
    cursor: default;
}

.navigationLink {
    color: rgb(29, 22, 22);
    text-transform: uppercase;
}

.navigationLink:hover {
    color: crimson;
}