.form {
    margin-top: 110px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputSearch {
    box-sizing: border-box;
    width: 400px;
    height: 50px;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid orange;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px;
}

.inputSearch:focus {
    border: 1px solid gray;
}

.inputSearch::placeholder {
    color: black;
    opacity: 0.3;
}

.serchBtn {
    width: 100px;
    height: 50px;
    background-color: orange;
    border: 1px solid orange;
    color: gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

.serchBtn:hover,
.serchBtn:focus {
    background-color: rgb(246, 105, 5);
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}